{%  load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Hệ thống Quản lý đào tạo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keyword" content="Hệ thống quản lý đào tạo"/>
        <link href="{%  static 'home/css/style.css' %}" type="text/css" rel="stylesheet" media="screen"/>
        <link rel="shortcut icon" href="{%  static 'home/favicon.ico' %}"/>
        <script src="{%  static 'home/js/jquery.js' %}"></script>
    </head>
    <body>
        <div id="pageWrapper">
            <div id="header">
                <img id="logo" src="{%  static 'home/images/logo.png' %}" alt="logo">
                <p id="siteTitle2" style="margin-left: 140px; font-size: 30px; top: 30px;">TRƯỜNG TRUNG HỌC PHỔ THÔNG ABC</p>
{#                <p id="siteTitle">Hệ Thống Quản Lý Đào Tạo</p>#}
{#                <img id="logo2" src="{%  static 'home/images/logo2.png' %}" alt="">#}
            </div>
            <div id="nav">
                <div id="menu">
                    <a href="#">Trang chủ</a> |
                    <a href="#">Giới thiệu</a>
                </div>
                <div id="login">
                    <a href="/qldh/">Đăng nhập vào hệ thống quản lý</a>
                </div>
            </div>
            <div id="contentWrapper">
                <div id="leftSide">
                    <div class="group-box">
                        <p class="title">DANH MỤC</p>
                        <div class="leftMenu">
                            <ul>
                                <li><a href="#">Hoạt động nhà trường</a></li>
                                <li><a href="#">Chuyên môn</a></li>
                                <li><a href="#">Bài giảng</a></li>
                                <li><a href="#">Đoàn thể</a></li>
                                <li><a href="#">Hình ảnh trường</a></li>
                                <li><a href="#">Video</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="group-box">
                        <p class="title">THÔNG BÁO MỚI</p>
                        <div class="leftMenu">
                            <ul>
                                <li><a href="#">- Hoạt động phòng chống Covid-19</a></li>
                                <li><a href="#">- Tổ chức lễ kỉ niệm mừng ngày thành lập trường</a></li>
                                <li><a href="#">- Công bố kết quả tuyển sinh đầu vào lớp 10</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="mainContent">
                    <div class="group-box">
                        <p class="title">Thông báo</p>
                        <h3>Hoạt động phòng chống Covid-19</h3>
                        <p style="text-align: left; margin-left: 20px;">Để ngăn chặn COVID-19 lây lan, hãy:<br>
                            - Thường xuyên rửa tay. Dùng xà phòng và nước hoặc dung dịch rửa tay chứa cồn.<br>
                            - Giữ khoảng cách an toàn với những người đang ho hoặc hắt hơi.<br>
                            - Khi không thể giữ khoảng cách, hãy đeo khẩu trang.<br>
                            - Không chạm vào mắt, mũi hoặc miệng.<br>
                            - Khi ho hoặc hắt hơi, hãy dùng khăn giấy hoặc gập khuỷu tay lại để che mũi và miệng.<br>
                            - Hãy ở nhà khi bạn cảm thấy không khỏe.<br>
                            - Hãy đi khám nếu bạn bị sốt, ho và khó thở.<br>
                            Nhớ gọi điện trước để nhà cung cấp dịch vụ y tế có thể nhanh chóng hướng dẫn bạn tìm đến cơ sở y tế phù hợp. Việc này không chỉ nhằm bảo vệ bạn mà còn ngăn ngừa sự lây lan của vi-rút và các bệnh truyền nhiễm khác.<br>
                        </p>
                    </div>
                    <div class="group-box">
                        <p class="title">Thông báo</p>
                        <h3>Tổ chức lễ kỉ niệm mừng ngày thành lập trường</h3>
                        <p>Các chức năng đang được cập nhật, vui lòng quay lại sau.</p>
                    </div>
                    <div class="group-box">
                        <p class="title">Thông báo</p>
                        <h3>Công bố kết quả tuyển sinh đầu vào lớp 10</h3>
                        <p>Các chức năng đang được cập nhật, vui lòng quay lại sau.</p>
                    </div>
                </div>
            </div>
            <div id="footer">
                <p>
                    Copyright &copy; 2021
                </p>
            </div>
        </div>
    </body>
</html>