{% extends 'teacher_templates/base_template.html' %}

{% block page_title %}
    Hạnh Kiểm | QLDH
{% endblock page_title %}

{% block main_content %}

    {% load static %}

    <br>
    <section class="content">
        {% if messages %}
            <div class="form-group">
                <div class="col-12">
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                 style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% elif message.tags == "success" %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                 style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách học sinh | {{ lop_cn.ten_lop }}</h3>

                        <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 210px;">
                                    Tải xuống danh sách lớp &nbsp;&nbsp;
                                    <a type="button" href="#" class="btn btn-default"><i
                                            class="fa-solid fa-download"></i></a>
                                </div>
                            </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>Mã Học sinh</th>
                                <th>Họ và Tên</th>
                                <th>Năm học</th>
                                <th>Hạnh kiểm</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for kq in kqht %}
                                <tr>
                                    <td>{{ kq.mahs.mahs.username }}</td>
                                    <td>{{ kq.mahs.mahs.last_name }} {{ kq.mahs.mahs.first_name }}</td>
                                    <td>{{ kq.nam_hoc.mo_ta }}</td>
                                    <td>{{ kq.get_hanh_kiem_display }}</td>
                                    <td>
                                        <a href="#"
                                           class="btn btn-success btn-sm">Chi tiết</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}