{% extends 'teacher_templates/base_template.html' %}

{% block page_title %}
    Danh sách học sinh  | {{ user.giaovien.day_mon.ten_mon }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
        <a class="btn btn-primary" href="{% url 'manage_mark' tuition_id=tuition_id ma_lop=ma_lop %}" role="button">Trở lại danh sách học sinh</a>
            <br/><br/>
            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}


            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Chi tiết điểm số</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>Điểm miệng</th>
                                <th>Điểm 15p</th>
                                <th>Điểm 1 tiết</th>
                                <th>Điểm Thi</th>
                                <th>Điểm Trung Bình</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                <td>{{ dm.diem_mieng }}</td>
                                <td>{{ dm.diem_15_phut }}</td>
                                <td>{{ dm.diem_45_phut }}</td>
                                <td>{{ dm.diem_thi }}</td>
                                <td>{{ ds.diem}}</td>
                                <td>
                                <a href="{% url 'edit_mark' tuition_id=tuition_id ma_lop=ma_lop mark_id=dm.mads.id %}" class="btn btn-info">Chỉnh sửa</a>
                                </td>
                                </tr>


                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function(){
        siderbar_data = "<li class='nav-item'><a href='#' class='nav-link active'><i class='nav-icon fas fa-tachometer-alt'></i> <p>Chi tiết điểm số </p></a> </li>";
        $("#siderbar").append(siderbar_data);
    })
</script>
{% endblock custom_js %}