{% extends 'teacher_templates/base_template.html' %}

{% block page_title %}
    Đánh giá học sinh
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Đánh giá học sinh</h3>
                </div>
                <form role="form" method="POST" action="{% url 'edit_assessment_student_save' student_id=hs.mahs.username kqht_id=kqht.id %}">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label>Họ và Tên: {{ hs.mahs.last_name }} {{ hs.mahs.first_name }}</label>
                        </div>
                        <div class="form-group">
                            <label>{{ hs.lop.ten_lop }}</label>
                        </div>
                        <div class="form-group">
                            <label>Điểm trung bình {{ ds.count }} môn:  {{ diem_tb }}</label>
                        </div>
                        <div class="form-group">
                            <label>Loại </label>
                            <select class="form-control" name="xep_loai" id="xep_loai">
                                <option value="default">Chưa đánh giá</option>
                                {% for item in list_dg %}
                                    <option value="{{ item }}" {% if item == kqht.xep_loai %}selected{% endif %}>{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Hạnh kiểm </label>
                            <select class="form-control" name="hanh_kiem" id="hanh_kiem">
                                <option value="default">Chưa đánh giá</option>
                                {% for item in list_dg %}
                                    <option value="{{ item }}" {% if item == kqht.hanh_kiem %}selected{% endif %}>{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" class="btn btn-success" value="Lưu" id="btn_save" name="btn_save">
                    </div>
                </form>

            </div>

                <button class="btn btn-primary" id="edit_btn" name="edit_btn">Chỉnh sửa</button>
                <button class="btn btn-danger" id="cancel_btn" name="cancel_btn">Hủy</button>
        <br/><br/>

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}


            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách học sinh</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>Mã Học sinh</th>
                                <th>Học kỳ</th>
                                <th>Năm học</th>
                                <th>Môn</th>
                                <th>Điểm</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in ds %}
                                <tr>
                                <td>{{ d.mahs.mahs.username }}</td>
                                <td>{{ d.hoc_ky }}</td>
                                <td>{{ d.nam_hoc.mo_ta }}</td>
                                <td>{{ d.mon.ten_mon }}</td>
                                <td>{{ d.diem }}</td>
                                <td>

                                </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function(){
        $('#hanh_kiem').prop("disabled",true);
        $('#xep_loai').prop("disabled",true);
        $('#btn_save').prop("disabled",true);
        $('#cancel_btn').prop("disabled",true);
        $("#edit_btn").click(function (){
            $('#hanh_kiem').prop("disabled",false);
            $('#xep_loai').prop("disabled",false);
            $('#btn_save').prop("disabled",false);
            $('#edit_btn').prop("disabled",true);
            $('#cancel_btn').prop("disabled",false);
        })
        $("#cancel_btn").click(function (){
            $('#hanh_kiem').prop("disabled",true);
            $('#xep_loai').prop("disabled",true);
            $('#btn_save').prop("disabled",true);
            $('#edit_btn').prop("disabled",false);
            $('#cancel_btn').prop("disabled",true);
        })
    })
</script>
{% endblock custom_js %}