{% extends 'teacher_templates/base_template.html' %}

{% block page_title %}
    Điểm số | QLDH
{% endblock page_title %}

{% block custom_css %}
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        input[type=number] {
            -moz-appearance: textfield; /* Firefox */
        }
    </style>
{% endblock custom_css %}

{% block main_content %}

    {% load static %}

    <section class="content">
        <div class="container-fluid">
            {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <br>
            <div class="row align-items-center">
                <div class="col-6 mr-auto">
                    <div class="form-floating">
                        <select class="form-select" name="lop_hoc" id="lop_hoc">
                            <option value="default">Chưa chọn</option>
                            {% for lop in list_lh %}
                                <option value="{{ lop.ma_lop }}">{{ lop.ten_lop }}</option>
                            {% endfor %}
                        </select>
                        <label for="subject">Lớp học:</label>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" id="luu" name="luu">Lưu</button>
                    <button type="button" class="btn btn-primary" id="xuat_pdf" name="xuat_pdf">Xuất pdf</button>
                </div>

                <div class="col-md-12">
                    <br>
                    <!-- general form elements -->
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table id="ds_table" class="table table-bordered table-hover text-nowrap text-center">
                                <thead>
                                <tr>
                                    <th rowspan="2" class="align-middle">STT</th>
                                    <th rowspan="2" class="align-middle">MHS</th>
                                    <th rowspan="2" class="align-middle">Họ Tên</th>
                                    <th colspan="3">Miệng</th>
                                    <th colspan="4">15 phút</th>
                                    <th colspan="8">1 tiết</th>
                                    <th rowspan="2" class="align-middle">Học kỳ</th>
                                    <th rowspan="2" class="align-middle">TBHK</th>
                                </tr>
                                <tr>
                                    <th>M1</th>
                                    <th>M2</th>
                                    <th>M3</th>
                                    <th>P1</th>
                                    <th>P2</th>
                                    <th>P3</th>
                                    <th>P4</th>
                                    <th>T1</th>
                                    <th>T2</th>
                                    <th>T3</th>
                                    <th>T4</th>
                                    <th>T5</th>
                                    <th>T6</th>
                                    <th>T7</th>
                                    <th>T8</th>
                                </tr>
                                </thead>
                                <tbody id="tbody_tb">
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}
{% block custom_js %}
    <script>
        let ma_lop;

        function check(gia_tri) {
            return !(gia_tri > 10 || gia_tri < 0);
        }

        function luu_ds(id_ds, m1, m2, m3, p1, p2, p3, p4, t1, t2, t3, t4, t5, t6, t7, t8, hk) {
            $.ajax({
                type: "POST",
                url: "{% url 'luu_diem_so' %}",
                data: {
                    id_ds: id_ds,
                    m1: m1,
                    m2: m2,
                    m3: m3,
                    p1: p1,
                    p2: p2,
                    p3: p3,
                    p4: p4,
                    t1: t1,
                    t2: t2,
                    t3: t3,
                    t4: t4,
                    t5: t5,
                    t6: t6,
                    t7: t7,
                    t8: t8,
                    hk: hk,
                },
                data_type: "json",
                success: function (response) {
                },
                error: function (response) {
                },
            });
        }

        function clear_table() {
            document.getElementById('tbody_tb').innerHTML = "";
        }

        function lay_ds_hs() {
            ma_lop = $("#lop_hoc").val()
            $.ajax({
                type: "POST",
                url: "{% url 'lay_ds_ajax' %}",
                data: {
                    ma_lop: ma_lop,
                },
                datatype: 'json',
                success: function (response) {
                    var json_data = JSON.parse(response);
                    var table = document.getElementById('tbody_tb');
                    var stt = 1;
                    for (key in json_data) {
                        var row = table.insertRow(-1);
                        row.id = json_data[key]["id"];
                        row.insertCell(0).innerHTML = stt;
                        row.insertCell(-1).innerHTML = json_data[key]["mhs"];
                        row.insertCell(-1).innerHTML = json_data[key]["hoten"];
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 'm1" value="' +
                            json_data[key]["m1"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 'm2" value="' +
                            json_data[key]["m2"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 'm3" value="' +
                            json_data[key]["m3"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 'p1" value="' +
                            json_data[key]["p1"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 'p2" value="' +
                            json_data[key]["p2"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 'p3" value="' +
                            json_data[key]["p3"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 'p4" value="' +
                            json_data[key]["p4"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 't1" value="' +
                            json_data[key]["t1"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 't2" value="' +
                            json_data[key]["t2"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 't3" value="' +
                            json_data[key]["t3"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 't4" value="' +
                            json_data[key]["t4"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 't5" value="' +
                            json_data[key]["t5"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 't6" value="' +
                            json_data[key]["t6"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 't7" value="' +
                            json_data[key]["t7"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 't8" value="' +
                            json_data[key]["t8"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = '<input type="number" id="' + stt + 'hk" value="' +
                            json_data[key]["hk"] + '" min="0" max="10" style="width: 40px;" step="0.25">';
                        row.insertCell(-1).innerHTML = json_data[key]["tb"];
                        stt++;
                    }
                },
                error: function (response) {
                    alert("Vui lòng chọn giá trị hợp lệ");
                }
            });
        }

        $("#lop_hoc").change(function () {
            clear_table();
            lay_ds_hs();
        });

        $("#luu").click(function () {
            if ($("#lop_hoc").val() == 'default') {
                alert("Vui lòng chọn lớp học");
            } else {
                var table = document.getElementById('tbody_tb');
                var id_ds, m1, m2, m3, p1, p2, p3, p4, t1, t2, t3, t4, t5, t6, t7, t8, hk;
                for (let i = 1; i <= table.rows.length; i++) {
                    id_ds = document.getElementsByTagName("tr")[i + 1].id;
                    m1 = document.getElementById(i + 'm1').value
                    m2 = document.getElementById(i + 'm2').value
                    m3 = document.getElementById(i + 'm3').value
                    p1 = document.getElementById(i + 'p1').value
                    p2 = document.getElementById(i + 'p2').value
                    p3 = document.getElementById(i + 'p3').value
                    p4 = document.getElementById(i + 'p4').value
                    t1 = document.getElementById(i + 't1').value
                    t2 = document.getElementById(i + 't2').value
                    t3 = document.getElementById(i + 't3').value
                    t4 = document.getElementById(i + 't4').value
                    t5 = document.getElementById(i + 't5').value
                    t6 = document.getElementById(i + 't6').value
                    t7 = document.getElementById(i + 't7').value
                    t8 = document.getElementById(i + 't8').value
                    hk = document.getElementById(i + 'hk').value
                    if (check(m1) && check(m2) && check(m3) && check(p1) && check(p2) && check(p3) && check(p4) &&
                        check(t1) && check(t2) && check(t3) && check(t4) && check(t5) && check(t6) && check(t7) && check(t8) && check(hk)) {
                        luu_ds(id_ds, m1, m2, m3, p1, p2, p3, p4, t1, t2, t3, t4, t5, t6, t7, t8, hk);
                        alert("Lưu thành công");
                    } else {
                        alert("Vui lòng nhập giá trị nhỏ hơn hoặc bằng 10 và lơn hơn hoặc bằng 0");
                        return;
                    }
                }
                clear_table();
                lay_ds_hs();
            }
        });

        $("#xuat_pdf").click(function () {
            if ($("#lop_hoc").val() == 'default') {
                alert("Vui lòng chọn lớp học");
            } else {
                var link = '{% url 'bang_diem_pdf' 'ma_lop' %}';
                link = link.replace('ma_lop', $("#lop_hoc").val());
                window.location.href = link;
            }
        });
    </script>
{% endblock custom_js %}