{% extends 'teacher_templates/base_template.html' %}

{% block page_title %}
    Quản lý điểm số
{% endblock page_title %}

{% block main_content %}

    {% load static %}

    <section class="content">
        <div class="container-fluid">
            {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <br>
            <div class="row align-items-center">
                <div class="col-6 mr-auto">
                    <div class="form-floating">
                        <select class="form-select" name="lop_hoc" id="lop_hoc">
                            <option value="default">Chưa chọn</option>
                            {% for lop in list_lh %}
                                <option value="{{ lop.ma_lop }}">{{ lop.ten_lop }}</option>
                            {% endfor %}
                        </select>
                        <label for="subject">Lớp học:</label>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" id="luu" name="luu">Lưu</button>
                    <button type="button" class="btn btn-primary" id="xuat_pdf" name="xuat_pdf">Xuất pdf</button>
                </div>

                <div class="col-md-12">
                    <br>
                    <!-- general form elements -->
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-bordered table-hover text-nowrap text-center">
                                <thead>
                                <tr>
                                    <th rowspan="2" class="align-middle">STT</th>
                                    <th rowspan="2" class="align-middle">MHS</th>
                                    <th rowspan="2" class="align-middle">Họ Tên</th>
                                    <th colspan="3">Miệng</th>
                                    <th colspan="4">15 phút</th>
                                    <th colspan="8">1 tiết</th>
                                    <th rowspan="2" class="align-middle">Học kỳ</th>
                                    <th rowspan="2" class="align-middle">TBHK</th>
                                </tr>
                                <tr>
                                    <th>M1</th>
                                    <th>M2</th>
                                    <th>M3</th>
                                    <th>P1</th>
                                    <th>P2</th>
                                    <th>P3</th>
                                    <th>P4</th>
                                    <th>T1</th>
                                    <th>T2</th>
                                    <th>T3</th>
                                    <th>T4</th>
                                    <th>T5</th>
                                    <th>T6</th>
                                    <th>T7</th>
                                    <th>T8</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>HS000006</td>
                                    <td>Lê Trung Thành</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}
{% block custom_js %}
    <script>
        $(document).ready(function () {
        })
    </script>
{% endblock custom_js %}