{% extends 'teacher_templates/base_template.html' %}

{% block page_title %}
    Danh sách học sinh
{% endblock page_title %}

{% block main_content %}

    {% load static %}

    <section class="content">
        <div class="container-fluid">
        <br>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><b>Thông tin lớp học</b></h3>
                </div>
                <div class="card-body">
                    <p>Lớp: {{ lop_cn.ten_lop }}</p>
                    <p>Sỉ số: {{ lop_cn.si_so }}</p>
                    <p>Phòng học: {{ lop_cn.phong.ten_phong }}</p>
                    <p>Giáo viên chủ nhiệm: {{ user.last_name }} {{ user.first_name }}</p>
                </div>
            </div>

            {% if messages %}
                <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><b>Danh sách học sinh</b></h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 210px;">
                                    Tải xuống danh sách lớp &nbsp;&nbsp;
                                    <a type="button" href="{% url 'QLDH:dshs_cn_pdf' %}" class="btn btn-default"><i
                                            class="fa-solid fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>Mã Học sinh</th>
                                    <th>Họ và Tên</th>
                                    <th>Email</th>
                                    <th>Quên Quán</th>
                                    <th>Ngày sinh</th>
                                    <th>Giới tính</th>
                                    <th>Dân tộc</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for student in dshs %}
                                    <tr>
                                        <td>{{ student.mahs }}</td>
                                        <td>{{ student.mahs.last_name }} {{ student.mahs.first_name }}</td>
                                        <td>{{ student.mahs.email }}</td>
                                        <td>{{ student.que_quan }}</td>
                                        <td>{{ student.ngay_sinh | date:"d-m-Y" }}</td>
                                        <td>{{ student.gioi_tinh }}</td>
                                        <td>{{ student.dan_toc }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}