{% extends 'student_templates/base_template.html' %}

{% block page_title %}
    Điểm số | QLDH
{% endblock page_title %}

{% block main_content %}

    {% load static %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <div class="col-12" id="message">
                    </div>
                </div>

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Bảng điểm cá nhân</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 210px;">
                                    Tải xuống bảng điểm &nbsp;&nbsp;
                                    <a type="button" href="{% url 'QLDH:bang_diem_hs_pdf' %}" class="btn btn-default"><i
                                            class="fa-solid fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table id="ds_table" class="table table-bordered table-hover text-nowrap text-center">
                                <thead>
                                <tr>
                                    <th rowspan="2" class="align-middle">Môn</th>
                                    <th colspan="3">Miệng</th>
                                    <th colspan="4">15 phút</th>
                                    <th colspan="8">1 tiết</th>
                                    <th rowspan="2" class="align-middle">Học kỳ</th>
                                    <th rowspan="2" class="align-middle">TBHK</th>
                                </tr>
                                <tr>
                                    <th>M1</th>
                                    <th>M2</th>
                                    <th>M3</th>
                                    <th>P1</th>
                                    <th>P2</th>
                                    <th>P3</th>
                                    <th>P4</th>
                                    <th>T1</th>
                                    <th>T2</th>
                                    <th>T3</th>
                                    <th>T4</th>
                                    <th>T5</th>
                                    <th>T6</th>
                                    <th>T7</th>
                                    <th>T8</th>
                                </tr>
                                </thead>
                                <tbody id="tbody_tb">
                                {% for item in ds_ds %}
                                    <td>{{ item.mon.ten_mon }}</td>
                                    <td>{{ item.m1 }}</td>
                                    <td>{{ item.m2 }}</td>
                                    <td>{{ item.m3 }}</td>
                                    <td>{{ item.p1 }}</td>
                                    <td>{{ item.p2 }}</td>
                                    <td>{{ item.p3 }}</td>
                                    <td>{{ item.p4 }}</td>
                                    <td>{{ item.t1 }}</td>
                                    <td>{{ item.t2 }}</td>
                                    <td>{{ item.t3 }}</td>
                                    <td>{{ item.t4 }}</td>
                                    <td>{{ item.t5 }}</td>
                                    <td>{{ item.t6 }}</td>
                                    <td>{{ item.t7 }}</td>
                                    <td>{{ item.t8 }}</td>
                                    <td>{{ item.hk }}</td>
                                    <td>{{ item.tb }}</td>
                                {%  endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}

{% block custom_js %}
    <script>


    </script>

{% endblock custom_js %}