{% extends 'admin_templates/base_template.html' %}

{% block page_title %}
    Chỉnh sửa phòng học | Mã phòng : {{ phong_hoc.ma_phong }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Chỉnh sửa phòng học</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_study_room_save' %}">
                        {% csrf_token %}


                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}


                        <div class="card-body">
                            <div class="form-group">
                                <label>Mã phòng </label>
                                <input type="text" class="form-control" name="ma_phong" value="{{ phong_hoc.ma_phong }}" readonly>
                                <input type="hidden" name="ma_phong" value="{{ phong_hoc.ma_phong }}" />
                            </div>
                            <div class="form-group">
                                <label>Tên phòng </label>
                                <input type="text" class="form-control" name="ten_phong" value="{{ phong_hoc.ten_phong }}">
                                <input type="hidden" name="ma_phong" value="{{ phong_hoc.ma_phong }}" />
                            </div>
                            <div class="form-group">
                                <label>Số lượng chỗ ngồi (1-50)</label>
                                <input type="number" class="form-control" name="so_luong_cho_ngoi" value="{{ phong_hoc.so_luong_cho_ngoi }}" min="1" max="50">
                                <input type="hidden" name="ma_phong" value="{{ phong_hoc.ma_phong }}" />
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}