{% extends 'admin_templates/base_template.html' %}

{% block page_title %}
    Chỉnh sửa | Học sinh: {{ mahs }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Chỉnh sửa thông tin học sinh</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {% url 'QLDH:edit_student_save' as action_path %}
                    {% include 'admin_templates/form_template.html' with messages=messages form=form action_path=action_path button_text="Lưu" %}

                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}