{% extends 'admin_templates/base_template.html' %}

{% block page_title %}
    Chi tiết giảng dạy
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_detail_tuition' tuition_id %}" role="button">+ Thêm chi tiết</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                                

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Chi tiết giảng dạy</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>STT</th>
                                <th>Thứ</th>
                                <th>Buổi</th>
                                <th>Tiết bắt đầu</th>
                                <th>Tiết kết thúc</th>
                                <th>Số tiết</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ct in gdct %}
                                <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ ct.thu }}</td>
                                <td>{{ ct.buoi }}</td>
                                <td>{{ ct.tiet_bd }}</td>
                                <td>{{ ct.tiet_kt }}</td>
                                <td>{{ ct.so_tiet }}</td>
                                <td>
                                    <a href="{% url 'edit_detail_tuition' tuition_id=tuition_id detail_id=ct.id %}" class="btn btn-success">Chỉnh sửa</a>
                                    <a href="{% url 'delete_detail_tuition' tuition_id=tuition_id detail_id=ct.id %}" class="btn btn-danger" onclick="return confirm('Bạn có thật sự muốn xóa?');">Xóa</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        <input type="hidden" id="tuition_id" name="tuition_id" value="{{ tuition_id }}">
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}