{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="{% url 'QLDH:admin_home' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">ESchool</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'QLDH:admin_home' %}" class="d-block">{{ user.last_name }} {{ user.first_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="siderbar" name="siderbar">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

            <li class="nav-item">
              {% url 'QLDH:admin_home' as admin_home %}
              <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                <i class="nav-icon fas fa-school"></i>
                <p>
                  Trang chủ
                </p>
              </a>
            </li>

              <li class="nav-item">
              {% url 'QLDH:manage_teacher' as manage_teacher %}
              <a href="{{ manage_teacher }}" class="nav-link {% if request.path == manage_teacher %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Giáo viên
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'QLDH:manage_study_room' as manage_study_room %}
              <a href="{{ manage_study_room }}" class="nav-link {% if request.path == manage_study_room %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard"></i>
                <p>
                  Phòng học
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'QLDH:manage_classroom' as manage_classroom %}
              <a href="{{ manage_classroom }}" class="nav-link {% if request.path == manage_classroom %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                <p>
                  Lớp học
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'QLDH:manage_student' as manage_student %}
              <a href="{{ manage_student }}" class="nav-link {% if request.path == manage_student %} active {% endif %}">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Học sinh
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'QLDH:manage_tuition' as manage_tuition %}
              <a href="{{ manage_tuition }}" class="nav-link {% if request.path == manage_tuition %} active {% endif %}">
                <i class="nav-icon fas fa-calendar"></i>
                <p>
                  Giảng dạy
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'QLDH:manage_subject' as manage_subject %}
              <a href="{{ manage_subject }}" class="nav-link {% if request.path == manage_subject %} active {% endif %}">
                <i class="nav-icon fas fa-book"></i>
                <p>
                  Môn học
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->

      </div>
      <!-- /.sidebar -->
    </aside>